<div id="wrapper">
  <div class="overlay"></div>

  <!-- Sidebar -->
  <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">
          Brand
        </a>
      </li>
      <li>
        <a [routerLink]="['home']">Home</a>
      </li>
      <li>
        <a [routerLink]="['captains']">Captains</a>
      </li>
      <li>
        <a [routerLink]="['ships']">Ships</a>
      </li>
      <li>
        <a [routerLink]="['teams']">Teams</a>
      </li>
    </ul>
  </nav>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
      <span class="hamb-top"></span>
      <span class="hamb-middle"></span>
      <span class="hamb-bottom"></span>
    </button>
    <div class="container">
      <router-outlet></router-outlet>

      <footer class="footer">
        <ul class="nav">
          <li class="nav__item"><a href="#" class="nav__link">Boldy Go</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Female recuits</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Non-human Federation Species</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Universal Translator</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Submit your academy application</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Come work with us!</a></li>
        </ul>
        <!-- <p class="copyright">
          <small>Summer Basehart & Jonas Schmedtmann</small>
        </p> -->
      </footer>
    </div>

  </div>
  <!-- /#page-content-wrapper -->

</div>


<!-- /#wrapper -->