.header {
    background-color: #54483A;
    /* grid-column: full-start / col-end 6; */
    background-image: linear-gradient(rgba(16, 29, 44, 0.93), rgba(16, 29, 44, 0.93)), url(../../assets/img/hero.jpeg);
    background-size: cover;
    background-position: center;
    padding: 8rem;
    padding-top: 4rem;
    display: grid;
    grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
    grid-template-columns: minmax(min-content, max-content);
    grid-row-gap: 1.5rem;
    justify-content: center; }
    @media only screen and (max-width: 50em) {
      .header {
        grid-column: 1 / -1; } }
    @media only screen and (max-width: 37.5em) {
      .header {
        padding: 5rem; } }
    .header__logo {
      height: 3rem;
      justify-self: center; }
    .header__btn {
      align-self: start;
      justify-self: start; }
    .header__seenon-text {
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      grid-column-gap: 1.5rem;
      align-items: center;
      font-size: 1.6rem;
      color: #aaa; }
      .header__seenon-text::before, .header__seenon-text::after {
        content: "";
        height: 1px;
        display: block;
        background-color: currentColor; }
    .header__seenon-logos {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 3rem;
      justify-items: center;
      align-items: center; }
      .header__seenon-logos img {
        max-height: 2.5rem;
        max-width: 100%;
        filter: brightness(70%); }
  
  .realtors {
    background-color: #101d2c;
    grid-column: col-start 7 / full-end;
    padding: 3rem;
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    grid-row-gap: 2rem; }
    @media only screen and (max-width: 50em) {
      .realtors {
        grid-column: 1 / -1; } }
    .realtors__list {
      display: grid;
      grid-template-columns: min-content max-content;
      grid-column-gap: 2rem;
      grid-row-gap: 5vh;
      align-items: center; }
      @media only screen and (max-width: 50em) {
        .realtors__list {
          grid-template-columns: repeat(3, min-content max-content); } }
      @media only screen and (max-width: 37.5em) {
        .realtors__list {
          grid-template-columns: min-content max-content; } }
    .realtors__img {
      width: 7rem;
      border-radius: 50%;
      display: block; }
    .realtors__sold {
      text-transform: uppercase;
      color: #aaa;
      margin-top: -3px; }